:root {
    --tg-main-color-dark: #5c9659;
    --tg-main-color-light: #d6e0d5;
    --tg-white: #efefef;
    --white: #fff;
    --white-gray: #f1f1f1;
    --font-family-sans-serif: "Helvetica Neue", Arial;
    --font-family-monospace: SFMono-Regular, "Courier New", monospace;
}

body {
    margin: 0 1rem 0;
    font-family: var(--font-family-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--tg-white);
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.box {
    background-color: var(--tg-main-color-light);
    border-style: solid;
    border-color: var(--tg-main-color-dark);
    border-width: 3px;
    border-radius: 8px;
    width: 400px;
    padding: 10px 20px 10px 10px;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    width: 100px;
    height: 30px;
    -moz-padding-start: calc(10px - 3px);
    padding-left: 10px;
    background-color: var(--tg-main-color-dark);
    color: #ffffff;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
    border-radius: 3px;
    outline: none;
}

select::-ms-expand {
    display: none;
}

select option {
    color: var(--white-gray);
}

select:focus::-ms-value {
    background-color: transparent;
}

col.description {
    width: 140px;
}

input {
    height: 30px;
    background-color: var(--tg-main-color-light);
    border-color: var(--tg-main-color-dark);
    border-style: solid;
    padding: 0 10px 0 10px;
    color: #000000;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
    border-radius: 3px;
    font-weight: 700;
    margin-top: 10px;
}
