.message-right {
    width: max-content;
    padding: 10px;
    border-style: solid;
    border-width: 3px;
    border-radius: 1px;
    border-color: #33cc33;
    background-color: #aaffaa;
    font-weight: bold;
}

.message-wrong {
    width: max-content;
    padding: 10px;
    border-style: solid;
    border-width: 3px;
    border-radius: 1px;
    border-color: #cc3333;
    background-color: #ffaaaa;
    font-weight: bold;
}

.red {
    color: #cc3333;
}

.green {
    color: #33cc33;
}

.kana {
    font-size: 4rem;
    font-weight: bold;
    line-height: 1rem;
}
