{% load static %}

<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="This website is a test application, which lets you test your romaji knowledge!" />
    <meta name="author" content="JaLeKe" />
    <title>Translatorgator - {{ title }}</title>
  
    <link href="{% static 'theme/assets/css/base.css' %}" rel="stylesheet" />
  </head>
  <body>
    <main>
      <h1>{{ title }}</h1>
      {% block content %}{% endblock %}
    </main>

  </body>
</html>
