{% extends 'base.html' %}

{% load static %}

{% block content %}

<h2>Start your training session today with Translatorgator!</h2>

<div class="box">
    <form action="quiz" method="post">
        {% csrf_token %}
        <p>Select your quiz options</p>
        <table>
            <colgroup>
                <col class="description">
                <col>
            </colgroup>
            <tr>
                <td>Kana:</td>
                <td>
                    <select name="kana" id="kana">
                        {% for choice in kana_choices %}
                            <option value="{{ choice.0 }},{{ choice.1 }}">{{ choice.1 }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Questions:</td>
                <td>
                    <select name="question_count" id="question_count">
                        {% for choice in question_count_choices %}
                            <option value="{{ choice }}">{{ choice }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        </table>
        <input type="hidden" id="site_key" name="site_key" value="home">
        <input type="submit" value="Start Quiz">
    </form>
</div>

{% endblock %}
