{% extends 'base.html' %}

{% load static %}

{% block content %}

<link href="{% static 'theme/assets/css/quiz.css' %}" rel="stylesheet" />

{% if question_number %}
    <h2>Translate like a gator!</h2>

    {% if "right" in message %}
        <div class="message-right">
            {{ message }}
        </div>
    {% elif "wrong" in message %}
        <div class="message-wrong">
            {{ message }}
        </div>
    {% endif %}

    <h2>What is this in Rōmaji?</h2>

    <p>Question {{ question_number }} of {{ question_count }}</p>
    <p class="kana">{{ vocab.syllable }}</p>

    <form method ="post">
        {% csrf_token %}
        {{quiz_form.as_p}}
        <input type="hidden" id="site_key" name="site_key" value="quiz">
        <input type="submit" value = "Submit">
    </form>
{% else %}
    {% include 'result.html'%}
{% endif%}

{% endblock %}
