{% load static %}

{% block content %}

<h2>You finished!</h2>

{% if "right" in message %}
    <div class="message-right">
        {{ message }}
    </div>
{% elif "wrong" in message %}
    <div class="message-wrong">
        {{ message }}
    </div>
{% endif %}

    <h2>Here are your results:</h2>

    <div class="box">
        <p>Total number of questions: {{ question_count }}</p>
        <p><span class="green">Correct</span> answers: {{ right_answers }}</p>
        <p><span class="red">Wrong</span> answers: {{ wrong_answers }}</p>
    </div>

    <form action="">
        {% csrf_token %}
        <input type="submit" value = "Return to Home">
    </form>

{% endblock %}
